DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteRule ^includes/ - [F,L]
RewriteRule ^cron/ - [F,L]

<FilesMatch "\.(db|sqlite,sqlite3)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
